<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style='visibility: hidden;padding: 0px;margin: 0px;font-size: 0px;height: 0px;'>
    <%= f.label :courseid %>
    <%= f.number_field :courseid, :value => params[:courseid] %>
  </div>

  <div class="field" style='visibility: hidden;padding: 0px;margin: 0px;font-size: 0px;height: 0px;'>
    <%= f.label :issue_id %>
    <%= f.text_field :issue_id, :value => params[:issue_id] %>
  </div>

  <div class="field" style='visibility: hidden;padding: 0px;margin: 0px;font-size: 0px;height: 0px;'>
    <%= f.label :user %>
    <%= f.text_field :user, :value => current_user.id %>
  </div>

  <div class='form-group'>
    <%= f.text_field :name, :class => 'form-control', :value => current_user.username %>
    <%= f.text_area :content, placeholder:'想說的話......', :class => 'form-control' %>    
    <%= f.submit '留言', :class => 'btn btn-primary', :style => 'position:static; width:100%;border-radius:0px;' %>   
  </div>      
<% end %>