<p id="notice"><%= notice %></p>

<div class='row'>
    <div class='container'>
        <!-- left -->
        <div class='col-md-4'>
            <div class='show-page-box'> 
            <!-- style='position: fixed' -->
                <div class='header'></div>
                <div class='content'>
                    <br>
                    <form>
                        <div class="form-group">
                            <label class='search-label'>課程名稱:</label>
                            <input type="text" class="form-control" placeholder="課程名稱關鍵字">
                        </div>
                        <div class="form-group">
                            <label class='search-label'>開課系級:</label>
                            <input type="text" class="form-control" placeholder="開課系級關鍵字">
                        </div>
                        <div class="form-group">
                            <label class='search-label'>授課教師:</label>
                            <input type="text" class="form-control" placeholder="授課教師關鍵字">
                        </div>
                        <input type="submit" style='width: 100%' class="btn btn-info btn-lg" value="查詢">
                    </form>     
                </div>            
            </div>
        </div>

        <!-- right -->
        <div class='col-md-8'>
            <% @data.each do |d| %>
                <div class='show-page-box'>
                    <div class='header'></div>
                    <div class='content'>
                        <div class='title-box'>
                            <h4 class='course-title'><%= link_to d["name"], course_path(d["courseid"])%></h4>
                        </div>
                        
                        <div class='row'>
                            <div class='col-md-6'><h5>授課教師: <%= d["instructor"] %></h5></div>
                            <div class='col-md-6'><h5>通識類別: <%= d["generalclass"] %></h5></div>
                        </div>
                        <div class='row'>
                            <div class='col-md-6'><h5>教室: <%= d["place"] %></h5></div>
                            <div class='col-md-6'><h5>學分: <%= d["point"] %></h5></div>
                        </div>
                        <div class='row'>
                            <div class='col-md-6'><h5>授課語言: <%= simple_format d["language"] %></h5></div>
                            <div class='col-md-6'><h5>修別: <%= simple_format d["choose"] %></h5></div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'><h5>備註: <%= d["note"] %></h5></div>
                        </div>

                                <!-- JDENTICON(Open source library for generating identicons) -->
                                <script src="https://cdn.jsdelivr.net/npm/jdenticon@1.7.2" async></script>

                                <% @issues.each do |issue| %>
                                    <% if issue.courseid == d["courseid"].to_i %>
                                            <p style='border-bottom-style:dashed; border-bottom-color:#F0F0F0;'></p>
                                            <div class='issue-content-box'>
                                                <table border="0" width='100%;'>
                                                    <tr>
                                                        <td style='vertical-align: text-top; width:60px'><canvas style='background-color: white;border-radius: 100%;' width="50" height="50" data-jdenticon-value="<%= issue.username %>"></canvas></td>
                                                        <td>
                                                            <div style='font-weight: bold;font-size: 16px;'><%= issue.username %></div>
                                                                <div style='font-size: 16px;margin-top:5px;margin-bottom:5px;'><%= issue.content %></div>
                                                                <% if issue.user == current_user %>
                                                                    <%= link_to 'Edit', edit_issue_path(issue, :courseid => issue.courseid, :issue_id => issue.id) %> · 
                                                                    <%= link_to 'Delete', issue, method: :delete, data: { confirm: 'Are you sure?' } %> · 
                                                                <% end %>                               
                                                                <%= link_to '回覆', new_comment_path(:courseid => issue.courseid, :issue_id => issue.id) %> · <%= time_ago_in_words(issue.created_at) %> ago
                                                        </td>
                                                    </tr>
                                                </table>

                                                <% @comments = Comment.all %>
                                                <% @comments.each do |comment| %>
                                                    <% if comment.issue_id.to_i == issue.id.to_i %>
                                                        <div class='row'>
                                                            <div class='col-md-offset-1'>
                                                                <div class='comment-content-box'>
                                            <!--                        <p>comment.courseid: <%= comment.courseid %>  </p>
                                                                    <p>comment.issue_id: <%= comment.issue_id %></p>
                                                                    <p>issue.courseid: <%= issue.courseid %>  </p>
                                                                    <p>issue.issue_id: <%= issue.id %></p>  -->     
                                                                    <table border="0" style='width: 100%;'>
                                                                        <tr>
                                                                            <td style='vertical-align: text-top;border-radius: 100%; width:35px; text-align: center;'><canvas style='background-color: white;border-radius: 100%;' width="50" height="50" data-jdenticon-value="<%= comment.name %>"></canvas></td>
                                                                            <td style='padding-left: 10px;'>
                                                                                <p style='font-weight: bold;'><%= comment.name %></p>
                                                                                <p><%= comment.content %></p>
                                                                                <p>
                                                                                    <% if comment.user == current_user %>
                                                                                        <%= link_to 'Edit', edit_comment_path(comment, :courseid => issue.courseid, :issue_id => issue.id) %> · 
                                                                                        <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %> · 
                                                                                    <% end %>                                               
                                                                                    <%= link_to '回覆', new_comment_path(:courseid => issue.courseid, :issue_id => issue.id) %> · <%= time_ago_in_words(comment.created_at) %> ago
                                                                                </p>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>                              
                                                            </div>
                                                        </div>

                                                    <% end %>
                                                <% end %>

                                            </div>  
                                    <% end %>
                                <% end %>
                                <% @issue = Issue.new %>
                                <%= render 'issues/form.html', issue: @issue, courseid: d["courseid"] %>
                    </div>            
                </div> 
            <% end %>     
        </div>
        
    </div>
</div>