<div class='row'>
    <div class='container' style='margin-top: 30px;'>
        <!-- left -->
        <div class='col-md-12'>
            <div class='show-page-box' style='width:100%;margin:auto;margin-bottom: 15px;'> 
            <!-- style='position: fixed' -->
                <div class='header'></div>
                <div class='content'>
                    <br>
                    <div class='row'>
						<div class='col-md-12'>
	                    	<form>
		                    	<div class='row'>
		                    		<div class='col-md-4'>
				                        <div class="form-group">
				                            <label class='search-label'>課程名稱:</label>
				                            <!-- <input type="text" class="form-control" placeholder="課程名稱關鍵字"> -->
				                            <div><%= text_field_tag :name, params[:name], placeholder: "搜尋課程......", class: "form-control" %></div>
				                        </div>
		                    		</div>
		                    		<div class='col-md-4'>
				                        <div class="form-group">
				                            <label class='search-label'>開課系所:</label>
				                            <!-- <input type="text" class="form-control" placeholder="開課系級關鍵字"> -->
				                            <div><%= text_field_tag :department, params[:department], placeholder: "搜尋系所......", class: "form-control" %></div>
				                        </div>
		                    		</div>
		                    		<div class='col-md-4'>
				                        <div class="form-group">
				                            <label class='search-label'>授課教師:</label>
				                            <!-- <input type="text" class="form-control" placeholder="授課教師關鍵字"> -->
				                            <div><%= text_field_tag :instructor, params[:instructor], placeholder: "搜尋教師......", class: "form-control" %></div>
				                        </div>
		                    		</div>
		                    	</div>
		                    	<div class='row'>
		                    		<div class='col-md-12'>
		                    			<input type="submit" style='width: 100%' class="btn btn-info btn-lg" value="查詢">
		                    		</div>
		                    	</div>
		                    </form> 
						</div>
                    </div>
    				<div class="row">
    					<div class='col-md-2 col-xs-6'>
					        <form>
					            <%= text_field_tag :search, params[:search], value: '社會通識',style: "visibility: hidden; height:0px;width:0px;" %>
					            <input type="submit" style='width: 100%' class="btn btn-warning btn-lg" value="社會通識">
					        </form>
    					</div>
    					<div class='col-md-2 col-xs-6'>
					        <form>
					            <%= text_field_tag :search, params[:search], value: '自然通識',style: "visibility: hidden; height:0px;width:0px;" %>
					            <input type="submit" style='width: 100%' class="btn btn-warning btn-lg" value="自然通識">
					        </form>
    					</div>
    					<div class='col-md-2 col-xs-6'>
					        <form>
					            <%= text_field_tag :search, params[:search], value: '中文通識',style: "visibility: hidden; height:0px;width:0px;" %>
					            <input type="submit" style='width: 100%' class="btn btn-warning btn-lg" value="中文通識">
					        </form>
    					</div>
    					<div class='col-md-2 col-xs-6'>
					        <form>
					            <%= text_field_tag :search, params[:search], value: '外文通識',style: "visibility: hidden; height:0px;width:0px;" %>
					            <input type="submit" style='width: 100%' class="btn btn-warning btn-lg" value="外文通識">
					        </form>
    					</div>
    					<div class='col-md-2 col-xs-6'>
					        <form>
					            <%= text_field_tag :search, params[:search], value: '人文通識',style: "visibility: hidden; height:0px;width:0px;" %>
					            <input type="submit" style='width: 100%' class="btn btn-warning btn-lg" value="人文通識">
					        </form>
    					</div>
    					<div class='col-md-2 col-xs-6'>
					        <form>
					            <%= text_field_tag :search, params[:search], value: '跨領域',style: "visibility: hidden; height:0px;width:0px;" %>
					            <input type="submit" style='width: 100%;' class="btn btn-warning btn-lg" value="跨領域">
					        </form>
					    </div>
    				</div>
                </div>            
            </div>
        </div>


        <div class='col-md-12'>
        	<div class="list-group">
        		<%= paginate @courses, theme: 'twitter-bootstrap-4' %>
        		<% if (params[:page] == "1" || (params[:page].blank? && params[:search].blank? && params[:name].blank? && params[:instructor].blank? && params[:department].blank?)) %>        		
					<h1 style='font-weight: 900;font-family:"微軟正黑體";'>最新留言</h1>
					<div class="list-group-item" style='background-color:#41cccc;color:white;font-weight: bold;'>
						<div style='display: table-row;font-family:"微軟正黑體";'>
							<div style='display: table-cell;width:50px;'>學期</div>
							<div style='display: table-cell;width:100px;padding-right:10px;'>課程代碼</div>
							<div style='display: table-cell;width:100px;padding-right:10px;'>課程名稱</div>
							<div style='display: table-cell;width:60px;padding-right:10px;'>系所</div>
							<div style='display: table-cell;width:60px;padding-right:10px;'>修別</div>
							<div style='display: table-cell;width:50px;padding-right:10px;'>通識類別</div>
							<div style='display: table-cell;width:100px;padding-right:10px;'>教師</div>
							<div style='display: table-cell;width:100px;padding-right:10px;'>時間</div>
							<div style='display: table-cell;width:100px;padding-right:10px;'>地點</div>
						</div>
					</div>

					<% @course_order[0..20].each do |cid| %>
						<% @data.each do |d| %>
							<% if d["courseid"].to_i == cid.to_i %>
								<a class="list-group-item" href="<%= course_path(d["courseid"]) %>">
									<div style='display: table-row;font-family:"微軟正黑體";'>
										<div style='display: table-cell;width:50px;'><%= d["semester"] %></div>
										<div style='display: table-cell;width:100px;padding-right:10px;'><%= d["courseid"] %></div>
										<div style='display: table-cell;width:100px;padding-right:10px;color:#5383d3;'><%= d["name"] %></div>
										<div style='display: table-cell;width:60px;padding-right:10px;'><%= d["department"] %></div>
										<div style='display: table-cell;width:60px;padding-right:10px;'><%= d["choose"] %></div>
										<div style='display: table-cell;width:50px;padding-right:10px;'><%= d["generalclass"] %></div>
										<div style='display: table-cell;width:100px;padding-right:10px;'><%= d["instructor"] %></div>
										<div style='display: table-cell;width:100px;padding-right:10px;'><%= d["session"] %></div>
										<div style='display: table-cell;width:100px;padding-right:10px;'><%= d["place"] %></div>
									</div>
									<div style='margin-top: 10px;'>
										<div style='display: table-cell;font-family:"微軟正黑體";'>
											<% myIssues = [] %>
											<% myComments = [] %>
											<% @issues.each do |issue| %>
												<% if issue.courseid == d["courseid"].to_i %>
													<% myIssues.push(issue.content) %>
												<% end %>
											<% end %>

											<% @comments.each do |comment| %>
												<% if comment.courseid == d["courseid"].to_i %>
													<% myComments.push(comment.content) %>
												<% end %>
											<% end %>
											<strong><%= myIssues.last %></strong>

											<% if myComments.length > 0 %>
												<strong>/<%= myComments.last %></strong>
											<% end %>
										</div>
									</div>
								</a>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
				<!-- newest above -->

				
				<div class="list-group-item" style='background-color:#41cccc;color:white;font-weight: bold;margin-top: 30px;'>
					<div style='display: table-row;font-family:"微軟正黑體";'>
						<div style='display: table-cell;width:50px;'>學期</div>
						<div style='display: table-cell;width:100px;padding-right:10px;'>課程代碼</div>
						<div style='display: table-cell;width:100px;padding-right:10px;'>課程名稱</div>
						<div style='display: table-cell;width:60px;padding-right:10px;'>系所</div>
						<div style='display: table-cell;width:60px;padding-right:10px;'>修別</div>
						<div style='display: table-cell;width:50px;padding-right:10px;'>通識類別</div>
						<div style='display: table-cell;width:100px;padding-right:10px;'>教師</div>
						<div style='display: table-cell;width:100px;padding-right:10px;'>時間</div>
						<div style='display: table-cell;width:100px;padding-right:10px;'>地點</div>
					</div>
				</div>
	        	<% @courses.each do |d| %>
					<a class="list-group-item" href="<%= course_path(d.courseid) %>">
						<div style='display: table-row;font-family:"微軟正黑體";'>
							<div style='display: table-cell;width:50px;'><%= d.semester %></div>
							<div style='display: table-cell;width:100px;padding-right:10px;'><%= d.courseid %></div>
							<div style='display: table-cell;width:100px;padding-right:10px;color:#5383d3;'><%= d.name %></div>
							<div style='display: table-cell;width:60px;padding-right:10px;'><%= d.department %></div>
							<div style='display: table-cell;width:60px;padding-right:10px;'><%= d.choose %></div>
							<div style='display: table-cell;width:50px;padding-right:10px;'><%= d.generalclass %></div>
							<div style='display: table-cell;width:100px;padding-right:10px;'><%= d.instructor %></div>
							<div style='display: table-cell;width:100px;padding-right:10px;'><%= d.session %></div>
							<div style='display: table-cell;width:100px;padding-right:10px;'><%= d.place %></div>
						</div>
						<div style='margin-top: 10px;'>
							<div style='display: table-cell;font-family:"微軟正黑體";'>
								<% myIssues = [] %>
								<% myComments = [] %>
								<% @issues.each do |issue| %>
									<% if issue.courseid == d["courseid"].to_i %>
										<% myIssues.push(issue.content) %>
									<% end %>
								<% end %>

								<% @comments.each do |comment| %>
									<% if comment.courseid == d["courseid"].to_i %>
										<% myComments.push(comment.content) %>
									<% end %>
								<% end %>
								<strong><%= myIssues.last %></strong>

								<% if myComments.length > 0 %>
									<strong>/<%= myComments.last %></strong>
								<% end %>
							</div>
						</div>
					</a>
	        	<% end %>
	        	<%= paginate @courses, theme: 'twitter-bootstrap-4' %>
        	</div>
        </div>

    </div>
</div>