<div class='container'>
	<table class="table table-hover">
	    <thead>
	      <tr>
	      	<th style="width:70px;">學年期</th>
	        <th>科目代號</th>
	        <th>課程名稱</th>
	        <th>任課教師</th>
	        <th style="width:60px;">學分</th>
	        <th>Session</th>
	        <th style="width:60px;">教室</th>
	        <th style="width:80px;">授課語言</th>
	        <th style="width:120px;">得充抵通識</th>
	        <th style="width:110px;">通識類別</th>
	        <th style="width:60px;">期數</th>
	        <th style="width:60px;">修別</th>
	        <th style="width:110px;">核心通識</th>
	        <th>異動資訊</th>
	        <th>備註</th>
	      </tr>
	    </thead>
	    <tbody>
			<% @data.each do |d| %>
				<tr href="<%= course_path(@data.index(d)) %>" style='cursor:pointer;'>
					<td><%= d["semester"] %></td>
					<td><%= d["courseid"] %></td>
					<td><%= d["name"] %></td>
					<td><%= d["instructor"] %></td>
					<td><%= d["point"] %></td>
					<td><%= d["session"] %></td>
					<td><%= d["place"] %></td>
					<td><%= simple_format d["language"] %></td>
					<td><%= d["asgeneral"] %></td>
					<td><%= d["generalclass"] %></td>
					<td><%= d["length"] %></td>
					<td><%= simple_format d["choose"] %></td>
					<td><%= simple_format d["coregeneral"] %></td>
					<td><%= d["change"] %></td>	
					<td><%= d["note"] %></td>
				</tr>
			<% end %>
	    </tbody>
	</table>
</div>