<div class='container'>
	<div class='show-page-box'>
		<h3>課程名稱:</h3>
		<h4><%= @course["name"] %></h4>

		<h3>任課教師:</h3>
		<h4><%= @course["instructor"] %></h4>

		<h3>授課語言:</h3>
		<h4><%= simple_format @course["language"] %></h4>

		<h3>備註:</h3>
		<h4><%= @course["note"] %></h4>

		<p id="notice"><%= notice %></p>

		<h1>留言數</h1>

		<%= render 'comments/showCommentform.html', comment: @comment %>

		<% @comments.each do |comment| %>
			<% if comment.courseid == @course["courseid"].to_i %>
				<p><%= comment.content %></p>
				<p><%= link_to 'Edit', edit_comment_path(comment) %> |	
				<%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
			<% end %>
		<% end %>
		<p><%= link_to 'Back', courses_path %></p>
	</div>
</div>

