<!-- JDENTICON(Open source library for generating identicons) -->
<script src="https://cdn.jsdelivr.net/npm/jdenticon@1.7.2" async></script>

<% @issues.each do |issue| %>
	<% if issue.courseid == params[:id].to_i %>
			<div class='issue-content-box'>
				<table border="0" width='100%;'>
					<tr>
						<td style='vertical-align: text-top; width:60px'><canvas style='background-color: white;border-radius: 100%;' width="50" height="50" data-jdenticon-value="<%= issue.username %>"></canvas></td>
						<td>
							<div style='font-weight: bold;font-size: 16px;font-family:"微軟正黑體";'><%= issue.username %></div>
								<div style='font-size: 16px;margin-top:5px;margin-bottom:5px;font-family:"微軟正黑體";'><%= simple_format issue.content %></div>
								<%= link_to "讚", like_issue_path(issue), method: :get %> · 
                                <%= link_to "收回讚", dislike_issue_path(issue), method: :get %> · 							
								<%= link_to '回覆', new_comment_path(:courseid => issue.courseid, :issue_id => issue.id) %> · 
								<% if issue.user == current_user %>
									<%= link_to 'Edit', edit_issue_path(issue, :courseid => issue.courseid, :issue_id => issue.id) %> · 
									<%= link_to 'Delete', issue, method: :delete, data: { confirm: 'Are you sure?' } %> · 
								<% end %>	
								<%= time_ago_in_words(issue.created_at) %> ago
						</td>
                        <td valign="top" align='right' width="50">
                              <%= issue.get_likes.size %>
                              <i class="fa fa-heart fa-lg" aria-hidden="true" style='color:#FE7C62;'></i>
<!--                                                             <p>
                              <%= pluralize(issue.get_dislikes.size, "Dislike") %>
                            </p> -->
                        </td>
					</tr>
				</table>

				<% @comments = Comment.all %>
				<% @comments.each do |comment| %>
				    <% if comment.issue_id.to_i == issue.id.to_i %>
				    	<div class='row'>
				    		<div class='col-md-offset-1'>
						        <div class='comment-content-box'>
			<!-- 		                <p>comment.courseid: <%= comment.courseid %>  </p>
					                <p>comment.issue_id: <%= comment.issue_id %></p>
					                <p>issue.courseid: <%= issue.courseid %>  </p>
					                <p>issue.issue_id: <%= issue.id %></p>  --> 	
									<table border="0" style='width: 100%;font-family:"微軟正黑體";'>
										<tr>
											<td style='vertical-align: text-top;border-radius: 100%; width:35px; text-align: center;'><canvas style='background-color: white;border-radius: 100%;' width="50" height="50" data-jdenticon-value="<%= comment.name %>"></canvas></td>
											<td style='padding-left: 10px;'>
												<p style='font-weight: bold;font-family:"微軟正黑體";'><%= comment.name %></p>
												<p style='font-family:"微軟正黑體";'><%= simple_format comment.content %></p>
												<p>
													<%= link_to "讚", like_comment_path(comment), method: :get %> · 
                                                    <%= link_to "收回讚", dislike_comment_path(comment), method: :get %> · 											
													<%= link_to '回覆', new_comment_path(:courseid => issue.courseid, :issue_id => issue.id) %> · 
													<% if comment.user == current_user %>
														<%= link_to 'Edit', edit_comment_path(comment, :courseid => issue.courseid, :issue_id => issue.id) %> · 
							                            <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %> · 
						                            <% end %>	
													<%= time_ago_in_words(comment.created_at) %> ago
												</p>
											</td>
                                            <td valign="top" align='right' width="50">
                                                <%= comment.get_likes.size %>
                                                <i class="fa fa-heart fa-lg" aria-hidden="true" style='color:#FE7C62;'></i>
<!--                                                             <p>
                                                  <%= pluralize(comment.get_dislikes.size, "Dislike") %>
                                                </p> -->
                                            </td>
										</tr>
									</table>
						        </div> 				    			
				    		</div>
				    	</div>

				    <% end %>
				<% end %>

			</div>	
	<% end %>
<% end %>