<div class='row'>
	<div class='container' style='margin-top: 30px;'>
		<div class='col-md-4'>
			<div class='show-page-box'>
				<div class='header'></div>
				<div class='content'>
					<div class='title-box'>
						<h4 class='course-title' style='font-size: 18px'><%= @course["name"] %></h4>
					</div>
					<div class="list-group" style='margin-top: 10px;'>
					  <a class="list-group-item" href=""><i class="fa fa-id-card-o" aria-hidden="true"></i>&nbsp; <%= @course["instructor"] %></a>
					  <a class="list-group-item" href=""><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; <%= simple_format @course["choose"] %></a>
					  <a class="list-group-item" href=""><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>&nbsp; <%= @course["point"] %></a>
					  <a class="list-group-item" href=""><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i>&nbsp; <%= @course["note"] %></a>
					</div>
					<input class='btn btn-default'  type ="button" onclick="history.back()" value="回到上一頁"></input>
					<!-- <p><%= link_to 'Back', courses_path %></p> -->					
				</div>
			</div>			
		</div>

		<!-- <div class='clearfix'></div> -->

		<div class='col-md-8'>
			<div class='show-page-box'>
				<div class='header'></div>
				<div class='content'>
					<!-- <h4 style='color:gray; text-align: center;'><%= @count %> 則留言</h4> -->
					<br>
					<%= render 'issues/form.html', issue: @issue %>							
					<%= render 'common/issue.html' %>

					<!-- <p><%= link_to 'Back', courses_path %></p> -->				
				</div>
			</div>			
		</div>
	</div>
</div>