<div class='container'>
	<div class='show-page-box'>
		<h3>課程名稱:</h3>
		<h4><%= @course["name"] %></h4>

		<h3>任課教師:</h3>
		<h4><%= @course["instructor"] %></h4>

		<h3>授課語言:</h3>
		<h4><%= simple_format @course["language"] %></h4>

		<h3>備註:</h3>
		<h4><%= @course["note"] %></h4>
	
		<p><%= link_to 'Back', courses_path %></p>
	</div>

	<div class='show-page-box'>
		<h4 style='color:gray; text-align: center;'><%= @count %> 則留言</h4>
		<%= render 'common/issue.html' %>
		<%= render 'issues/form.html', issue: @issue %>		
		<p><%= link_to 'Back', courses_path %></p>
	</div>	
</div>