<!DOCTYPE html>
<html>
  <head>
    <title>NccuCourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- google font for chinese -->
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
    </style>

    <!-- awesome font -->
    <script src="https://use.fontawesome.com/f865970d19.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"></link>

    
    <!-- mobile capable -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- navbar google font styling -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- footer -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet"> 
  </head>

  <body>
    <div id="id_wrapper">
    	<%= render 'common/navbar' %>
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <% if user_signed_in? %>
        <h4>first_name: <%= current_user.username %></h4>
        <h4>uid: <%= current_user.uid %></h4>
        <h4>email: <%= current_user.email %></h4>
        <h4>provider: <%= current_user.provider %></h4>
      <% end %>
      <%= yield %>
      <div id="id_footer"><%= render 'common/footer' %></div>
    </div>
  </body>
</html>
