<!DOCTYPE html>
<html>
  <head>
    <title>NccuCourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- google font for chinese -->
    <style>
      @import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
    </style>

    <!-- awesome font -->
    <script src="https://use.fontawesome.com/f865970d19.js"></script>
    
    <!-- mobile capable -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <!-- navbar google font styling -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- footer -->
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet"> 
  </head>

  <body>
  	<%= render 'common/navbar' %>
    <%= yield %>
    <%= render 'common/footer' %>
  </body>
</html>
